.btn
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.main
{
    padding:20px 0;
}
.player
{
    border:2px solid lightgrey;
    border-radius:20px;
    padding:10px;
}
.RollResult
{
    font-size:30px;
    color:white;
    font-weight: bold;
    width: 100%;
    display:block;
    text-align:center;
}
.DamageAnimation
{
    animation: Dmg linear 0.25s;
}
@keyframes Dmg {
    0%   {transform: translateX(0);}
    10%   {transform: translateX(-10%);}
    20%   {transform: translateX(0);}
    30%   {transform: translateX(10%);}
    40%   {transform: translateX(0);}
    50%   {transform: translateX(-10%);}
    60%   {transform: translateX(0);}
    70%   {transform: translateX(10%);}
    80%   {transform: translateX(0);}
    90%   {transform: translateX(-10%);}
    100%   {transform: translateX(0);}
}